<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- tailwind css -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    <script src="{{url_for('static',filename='js/index.js')}}">
        count = "{{ chatroom_id }}";
    </script>

    <style>

        #logo {
            max-height: 100px;
        }

        /* #chat-box {

            /* 수평 가운데 정렬 (Flexbox 사용 시) */

        /* } */

        .wrap {

            width: 66vw;
            margin: 0 auto;
            align-self: center;
            /* Flexbox 레이아웃 설정 (선택 사항) */

        }

        #header_box {
            display: flex;
        }
    </style>
</head>


<body>
    <nav class="flex items-center justify-between flex-wrap bg-[#15191E]">
        <div class="flex items-center flex-shrink-0 text-white ml-8">
            <div class="w-32">
                <img alt="jungle talk 로고" src="/static/profile/myProfile.jpg" />
            </div>
        </div>
        <div class="flex">
            <button class="bg-[#1F978B] hover:bg-[#156f66] text-[#FEFEFE] rounded btn-sm btn-login mr-11 shrink-0">
                login
            </button>
        </div>
    </nav>

    <!-- <div class="wrap bg-base-300 rounded-box  h-screen">

        <div id="header_box">
            <img id="logo" class="" src="/static/profile/myProfile.jpg" alt="">

            <button class="btn btn-ghost btn-login">Ghost</button>
        </div> -->

    <!-- 이 태그 복사해서 사용 -->
    <div>
        <div class="chat-box flex justify-center items-center flex-col border-opacity-50 my-6">
            <div class="w-1/2 overflow-hidden rounded-lg ring-1 ring-gray-200">
                <div class="flex items-center justify-between pl-4 bg-gray-100 border-b border-gray-200">
                    <h2 class="text-lg font-semibold text-gray-800">채팅방 제목</h2>
                </div>
                <div class="p-4 bg-[#1F978B]">
                    <h3 class="pl-0 text-[#FEFEFE]">채팅방 내용이 들어갑니다.</h3>
                </div>
            </div>
        </div>

        <div class="chat-box flex justify-center items-center flex-col border-opacity-50 my-6">
            <div class="w-1/2 overflow-hidden rounded-lg ring-1 ring-gray-200">
                <div class="flex items-center justify-between pl-4 bg-gray-100 border-b border-gray-200">
                    <h2 class="text-lg font-semibold text-gray-800">채팅방 제목</h2>
                </div>
                <div class="p-4 bg-[#1F978B]">
                    <h3 class="pl-0 text-[#FEFEFE]">채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다. 채팅방 내용이 들어갑니다.</h3>
                </div>
            </div>
        </div>

        <div class="chat-box flex justify-center items-center flex-col border-opacity-50 my-4">
            <div class="w-1/2 overflow-hidden rounded-lg ring-1 ring-gray-200">
                <div class="flex items-center justify-between pl-4 bg-gray-100 border-b border-gray-200">
                    <h2 class="text-lg font-semibold text-gray-800">채팅방 제목</h2>
                </div>
                <div class="p-4 bg-[#1F978B]">
                    <h3 class="pl-0 text-[#FEFEFE]">채팅방 내용이 들어갑니다.</h3>
                </div>
            </div>
        </div>
    </div>
        <!-- 여기까지 -->
</body>
<script>
    const room_id = 1234
    // 유저 정보 모음 리스트 
    let users_in_room = [];

    let logined_uuid = 123456;

    // # 채팅방에 참여중인 유저 리스트 요청 API
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: `chatrooms/users?chatroom_id=${room_id}`,
            data: {},
            success: function (response) {
                if (response['is_success'] == 1) {
                    users_in_room = response['list']
                    console.log(users_in_room, response['msg'])
                } else {
                    console.log(response['msg'])
                }
            }
        })
    })
    function makeMSG(uuid, message, time) {
        let image = None;
        let name = None;
        for (let item in users_in_room) {
            if (item['uuid'] == uuid) {
                image = item['user_image'];
                name = item['user_name'];
            }
        }

        if (logined_uuid != uuid) {
            temp_tag =
                `<div class="chat chat-start">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS chat bubble component"
                        src="${image}"/>
                </div>
            </div>
                <div class="chat-header">
                    ${name}
                    <time class="text-xs opacity-50">${time}</time>
                </div>
                <div class="chat-bubble">${message}</div>
        </div>`;
        } else {
            temp_tag = `
            <div class="chat chat-end">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS chat bubble component"
                        src="${image}"/>
                </div>
            </div>
            <div class="chat-header">
                ${name}
                <time class="text-xs opacity-50">${time}</time>
            </div>
            <div class="chat-bubble">${message}</div>
            </div>`;
        }
        $('#chat-box').append(temp_tag);
    }
    function addMSG() {
        let chat_box = $("#chat-box")
        $.ajax({
            type: "GET",
            url: "/test",
            data: {},
            success: function (response) {
                chat_box.append(makeMSG(123455, "Alice", response['path'], "12:43", "안녕하세요"))
            }
        })


        console.log("test")
    }
    setInterval(routin, 5000)

    // # 특정 채팅방의 채팅기록 요청 API
    function routin() {
        $.ajax({
            type: "GET",
            url: `/chatrooms/messages?chatroom_id=${room_id}?count=${count}`,
            data: {},
            success: function (response) {
                if (response['is_success'] == 1) {
                    let list = response['list'];
                    for (let item in list) {
                        makeMSG(item['uuid'], item['message'], item['time'])
                    }
                    console.log(response['msg'])
                    // 새로운 메세지 알림 기능 
                } else {
                    console.log(response['msg'])
                }

            }
        })
    }


</script>

</html>