<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        #logo {
            max-height: 100px;
        }

        #chat-box {

            /* 수평 가운데 정렬 (Flexbox 사용 시) */

        }

        .wrap {

            width: 66vw;
            margin: 0 auto;
            align-self: center;
            /* Flexbox 레이아웃 설정 (선택 사항) */

        }

        #header_box {
            display: flex;
        }
    </style>
</head>

<body>
    <div class="wrap bg-base-300 rounded-box  h-screen">

        <div id="header_box">
            <img id="logo" class="" src="../static/logo.svg" alt="">

            <button class="btn btn-ghost btn-login">Ghost</button>
        </div>

        <div class="flex w-full flex-col border-opacity-50">
            <div id="chat-box">
                
            </div>
        </div>
    </div>
</body>
<script>
    const chat_start =
        `<div class="chat chat-start">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS chat bubble component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <div class="chat-header">
                    Obi-Wan Kenobi
                    <time class="text-xs opacity-50">12:45</time>
                </div>
                <div class="chat-bubble">You were the Chosen One!</div>
            <div class="chat-footer opacity-50">Delivered</div>
        </div>`;
    const chat_end = `
        <div class="chat chat-end">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS chat bubble component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </div>
            <div class="chat-header">
                Anakin
                <time class="text-xs opacity-50">12:46</time>
            </div>
            <div class="chat-bubble">I hate you!</div>
            <div class="chat-footer opacity-50">Seen at 12:46</div>
            </div>`;
</script>

</html>