<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- tailwind css -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">

    <!-- jungle talk CSS , JS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static',filename='js/index.js')}}"></script>
    <script src="{{url_for('static',filename='js/signup.js')}}"></script>
    <style>
        .hidden-box {
            display: none;
        }

        .modal::backdrop-blur-3xl {
            background-color: rgba(255, 255, 255, 0.75);
            /* Change the background color */
        }
    </style>
    <script>
        function pwModal(element) {
            let tag = $(element);
            $('passwd').find('#hidden-data').val(
                tag.find('.chatroom-id').val()
            )
            passwd.showModal()
        }

    </script>
</head>


<body>
    <nav class="flex items-center justify-between flex-wrap bg-[#15191E]">
        <div class="flex items-center flex-shrink-0 text-white ml-8">
            <div class="w-32">
                <img alt="jungle talk 로고" src="/static/profile/myProfile.jpg" />
            </div>
        </div>
        <div class="flex">
            <button onclick="login.showModal()"
                class="bg-[#1F978B] hover:bg-[#156f66] text-[#FEFEFE] rounded btn-sm btn-login mr-11 shrink-0">
                login
            </button>
        </div>
    </nav>
    <div id='chatroom-box'>

    </div>

    <dialog id="login" class="modal">
        <form id="loginform" method="dialog" class="modal-box w-96 bg-[#1F978B]">
            <p class="text-[#FEFEFE] text-3xl font-bold grid place-items-center mb-2">Login</p>
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 mr-1 text-xl text-[#1D232A]">✕</button>
            <div class="text-[#FEFEFE] ml-2 text-lg">
                <p>ID</p>
                <label class="input input-bordered input-sm flex items-center gap-2 mb-2">
                    <input type="text" name="login_id" class="grow" placeholder="아이디를 입력해주세요." />
                </label>
                <p>Passwd</p>
                <label class="input input-bordered input-sm flex items-center gap-2 mb-3">
                    <input type="text" name="password" class="grow" placeholder="비밀번호를 입력해주세요." />
                </label>

                <div class="flex justify-center items-center space-x-4">
                    <button onclick="signup.showModal()" type="submit"
                        class="bg-[#696969] hover:bg-[#156f66] text-white rounded btn-sm -mb-2">
                        Sign Up
                    </button>
                    <button type="submit" class="bg-[#696969] hover:bg-[#156f66] text-white rounded btn-sm -mb-2">
                        login
                    </button>
                </div>
            </div>
    </dialog>
    <dialog id="newchat" class="modal">
        <form method="dialog" class="modal-box w-96 bg-[#1F978B]">
            <p class="text-[#FEFEFE] text-3xl font-bold grid place-items-center">Chat Info</p>
            <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 mr-1 text-xl text-[#1D232A]">✕</button>
            <div class="text-[#FEFEFE] ml-2 text-xl">
                <p>Name</p>
                <label class="input input-bordered input-sm flex items-center gap-2 mb-2">
                    <input type="text" class="grow" placeholder="채팅방 이름을 입력해주세요." />
                </label>
                <p>Passwd</p>
                <label class="input input-bordered input-sm flex items-center gap-2 mb-2">
                    <input type="text" class="grow" placeholder="채팅방 비밀번호를 입력해주세요." />
                </label>

                <p>Description</p>

                <textarea class="textarea textarea-boreded w-full flex items-center gap-2 mb-3"
                    placeholder="채팅방 설명란 입니다. 채팅방을 소개해주세요.">
                        </textarea>
            </div>
            </div>
            <div class="grid place-items-center">
                <button type="submit" class="bg-[#696969] hover:bg-[#156f66] text-white rounded btn-sm -mb-2">
                    Create
                </button>
            </div>
            </div>
        </form>
    </dialog>
    <dialog id="passwd" class="modal">
        <form id="passwdform" method="dialog" class="modal-box w-80 bg-[#1F978B]">
            <p class="text-[#FEFEFE] text-3xl font-bold grid place-items-center my-8">Enter Password</p>
            <button class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">
                <svg class="w-8 h-8" fill="none" stroke="#fefefe" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
            <div class="text-[#FEFEFE] text-xl mb-8">
                <label class="input input-bordered input-md flex items-center mb-5 text-lg">
                    <input id='input-pw' type="text" class="grow text-sm" placeholder="채팅방 비밀번호를 입력해주세요." />
                </label>

                <div class="flex justify-center items-center space-x-8 -mb-9">
                    <button type="submit" class="bg-[#696969] hover:bg-[#156f66] text-white rounded btn-md text-lg">
                        Enter
                    </button>
                </div>
            </div>
        </form>
    </dialog>
    <div class="hidden-box">
        <div class="chatroom-box flex justify-center items-center flex-col border-opacity-50 my-6">
            <input class="chatroom-id" type="hidden" value="">
            <div class="w-1/2 overflow-hidden rounded-lg ring-1 ring-gray-200">
                <div class="flex items-center justify-between pl-4 bg-gray-100 border-b border-gray-200">
                    <h2 class="chatroom-name text-lg font-semibold text-gray-800">채팅방 제목</h2>
                    <!-- 채팅방 참여자 수 -->
                    <p class="mr-3 text-base font-semibold text-[#696969]">123</p>
                </div>
                <div class="chatroom-description p-4 bg-[#1F978B]">
                    <h3 class="pl-0 text-[#FEFEFE]">채팅방 내용이 들어갑니다.</h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<dialog id="password" class="modal">
    <form method="dialog" class="modal-box w-80 bg-[#1F978B]">
        <p class="text-[#FEFEFE] text-3xl font-bold grid place-items-center my-8">Enter Password</p>
        <button class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">
            <svg class="w-8 h-8" fill="none" stroke="#fefefe" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
        <div class="text-[#FEFEFE] text-xl mb-8">
            <label class="input input-bordered input-md flex items-center mb-5 text-lg">
                <input type="text" class="grow text-sm" placeholder="채팅방 비밀번호를 입력해주세요." />
            </label>

            <div class="flex justify-center items-center space-x-8 -mb-9">
                <button type="submit" class="bg-[#696969] hover:bg-[#156f66] text-white rounded btn-md text-lg">
                    Enter
                </button>
            </div>
        </div>
    </form>
</dialog>

<dialog id="signup" class="modal">
    <form method="dialog" class="modal-box w-auto bg-[#1F978B]">
        <p class="text-[#FEFEFE] text-3xl font-bold grid place-items-center">Sign Up</p>
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 mr-1 text-xl text-[#1D232A]">✕</button>
        <div class="text-[#FEFEFE] ml-2 text-lg">
            <p>ID</p>
            <label class="input input-bordered input-sm flex items-center gap-2 mb-2">
                <input type="text" class="grow" placeholder="아이디를 입력해주세요." />
                <!-- 중복체크 버튼 -->
                <button
                    id="duplicate" class="btn-xs bg-[#696969] hover:bg-[#156f66] text-[#FEFEFE] font-medium rounded flex items-center justify-center -mr-2">
                    중복체크
                </button>
            </label>
            <p>Passwd</p>
            <label class="input input-bordered input-sm flex items-center gap-2 mb-3">
                <input type="text" class="grow" placeholder="비밀번호를 입력해주세요." />
            </label>
            <p>Name</p>
            <label class="input input-bordered input-sm flex items-center gap-2 mb-2">
                <input type="text" class="grow" placeholder="이름을 입력해주세요." />
            </label>
            <p>Profile image</p>
            <input type="file" class="file-input file-input-sm file-input-bordered w-auto mb-4" />
            <!-- 
                <button class="btn btn-sm sm:btn-sm md:btn-md lg:btn-lg btn-[#FEFEFE]">Responsive</button> -->
        </div>
        <div class="grid place-items-center">
            <button type="submit" class="bg-[#696969] hover:bg-[#156f66] text-white rounded btn-sm -mb-2">
                Register
            </button>
        </div>
        </div>
    </form>
</dialog>